// Utilities
@import "../utilities/variables";

html {
    width: 100vw;
}

body {
    height: 100vh;
    width: 100vw;
}

root {
    height: 100%;
}

#App {
    display: flex;
    flex-direction: column;
    // border: 2px solid yellow;
    height: 100vh;
    @include sm {
        flex-direction: row;
    }
}

.tooltip {
    background-color: whitesmoke;
    color: black;
}