// Utilities
@import "../utilities/variables";

#main {
    padding: 0 3px 3px 3px;
    width: 100%;

    #header {
        display: flex;
        color: white;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(61, 59, 59);

        p {margin: 0;}

        LoginBox {
            border: 3px solid green; 
        }

        #header-right {
            display: flex; 
            justify-content: flex-end;
        }

        .headerpart {
            width: 33%;
            padding: 1%;
        }
    }

    .page-title {
        font-family: 'NeonTubes2';
        text-align: center;
        margin-top: 1rem;

        .neon-red {
            color: $main-red-light;;
            text-shadow: $main-red -2px -1px 5px, $main-red 2px 1px 5px, $main-red 0px 0px 10px, $main-red 0px 0px 15px, $main-red 0px 0px 20px, $main-red 0px 0px 30px;
        }

        .neon-blue {
            color: $main-blue-light;
            text-shadow: $main-blue  -2px -1px 5px, $main-blue  2px 1px 5px, $main-blue  0px 0px 10px, $main-blue  0px 0px 15px, $main-blue  0px 0px 20px, $main-blue  0px 0px 30px;
        }
    }

    /* REMOVE ARROWS FROM INPUT FIELD */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }

    
}

// M E D I A   Q U E R I E S 

@include mobile {
    #main {
        #header {
            display: none;
        }
    }
}