// Utilities
@import "../utilities/variables";

#menu {

    // G E N E R A L   S T Y L E S

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'NeonTubes2';
    padding: 25px 20px;
    // border: 2px solid green;

    // L O G O 

    #brandlogo {
        position: relative;
        height: 150px;
        width: 150px;
        font-size: 80px;
        
        .neon-yellow {
            color: $main-yellow-light;;
            text-shadow:  $main-yellow -2px -1px 5px,  $main-yellow 2px 1px 5px,  $main-yellow 0px 0px 10px,  $main-yellow 0px 0px 15px,  $main-yellow 0px 0px 20px,  $main-yellow 0px 0px 30px;
        }
        
        div {
            position: absolute;
            transform-origin: center;
        }
        div:first-child {
            transform: rotate(90deg) translate(-36px, -68px);
            z-index: 5;
        }
        div:nth-child(2) {
            transform: rotate(150deg) translate(-103px, -49px);
            z-index: 4;
        }
        div:nth-child(3) {
            transform: rotate(30deg) translate(120px, -19px);
        }
        div:nth-child(4) {
            transform: rotate(90deg) translate(70px, -68px);
        }
        div:nth-child(5) {
            transform: rotate(150deg) translate(2px, -49px);
        }
        div:nth-child(6) {
            transform: rotate(30deg) translate(15px, -20px);
            z-index: 6;
        }
    
        .saber {
            position: absolute;
            height: 100%;
            width: 3px;
            top: 0%;
            border-radius: 3px;
        }
        .saber.neon-red {
            left: 49%;
            transform: rotate(30deg);
            background-color: $main-red-light;
            box-shadow: 
            0px 0px 8px 2px #ff8d9e, 
            0px 0px 12px 6px $main-red;
        }
        .saber.neon-blue {
            right: 49%;
            transform: rotate(-30deg);
            background-color: $main-blue-light;
            box-shadow: 
            0px 0px 8px 2px #7979ff, 
            0px 0px 12px 6px $main-blue;
        }
    }
    
    #menu-main {
        
        .beesaber-title {
            text-align: center;
            margin-bottom: 20px;

            .neon-red {
                color: $main-red-light;;
                text-shadow: $main-red -2px -1px 5px, $main-red 2px 1px 5px, $main-red 0px 0px 10px, $main-red 0px 0px 15px, $main-red 0px 0px 20px, $main-red 0px 0px 30px;
            }

            .neon-blue {
                color: $main-blue-light;
                text-shadow: $main-blue  -2px -1px 5px, $main-blue  2px 1px 5px, $main-blue  0px 0px 10px, $main-blue  0px 0px 15px, $main-blue  0px 0px 20px, $main-blue  0px 0px 30px;
            }
        }

        a {
            display: block;
            font-size: 1.4rem;
            text-align: center;
        }
    }

    // M E D I A   Q U E R I E S 

    @include mobile {
        flex-direction: row;
        padding: 10px;
        margin: 0;
        height: 20vh;

        #menu-head {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 3%;
        }

        #brandlogo {
            visibility: hidden;
            width: 0;
        }

        #google-profile-data {
            margin: 0 3% 0 0;
        }

        #menu-main {
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            
            a {
                font-size: 0.7rem;
                padding: 0 2%;
            }

            br {
                display: none;
            }

            .beesaber-title {
                margin: 0
            }
        }

        #menu-points {
            display: flex;
            justify-content: space-evenly;
            a {
                margin: 0 10px;
                display: flex;

                span {
                    font-size: 1rem;
                }
            }
        }

        
    }

    @include sm {
        #menu-head {
            #google-oauth {
                display: none
            }
        }

        #menu-main {
            margin: 16px;

            a {
                // margin-bottom: 10px;
                text-align: center;
            }

            .beesaber-title {
                text-align: center;
                margin-bottom: 20px;
    
                .neon-red {
                    color: $main-red-light;;
                    text-shadow: $main-red -2px -1px 5px, $main-red 2px 1px 5px, $main-red 0px 0px 10px, $main-red 0px 0px 15px, $main-red 0px 0px 20px, $main-red 0px 0px 30px;
                }
    
                .neon-blue {
                    color: $main-blue-light;
                    text-shadow: $main-blue  -2px -1px 5px, $main-blue  2px 1px 5px, $main-blue  0px 0px 10px, $main-blue  0px 0px 15px, $main-blue  0px 0px 20px, $main-blue  0px 0px 30px;
                }
            }
        }
    }
}