// Utilities
@import "../utilities/variables";

#menu {

    // G E N E R A L   S T Y L E S

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'NeonTubes2';
    padding: 25px 20px;
    
    #menu-main {

        .beesaber-title {
            text-align: center;
            margin-bottom: 20px;

            .neon-red {
                color: $main-red-light;;
                text-shadow: $main-red -2px -1px 5px, $main-red 2px 1px 5px, $main-red 0px 0px 10px, $main-red 0px 0px 15px, $main-red 0px 0px 20px, $main-red 0px 0px 30px;
            }

            .neon-blue {
                color: $main-blue-light;
                text-shadow: $main-blue  -2px -1px 5px, $main-blue  2px 1px 5px, $main-blue  0px 0px 10px, $main-blue  0px 0px 15px, $main-blue  0px 0px 20px, $main-blue  0px 0px 30px;
            }
        }

        a {
            display: block;
            font-size: 1.4rem;
            text-align: center;
        }
    }

    // M E D I A   Q U E R I E S 

    @include mobile {
        flex-direction: row;
        padding: 10px;
        margin: 0;
        height: 20vh;

        #menu-head {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 3%;
        }

        #brandlogo {
            visibility: hidden;
            width: 0;
        }

        #google-profile-data {
            margin: 0 3% 0 0;
        }

        #menu-main {
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            
            #button {
                font-size: 0.7rem;
                padding: 0 8%;
            }

            br {
                display: none;
            }

            .beesaber-title {
                margin: 0
            }
        }

        #menu-points {
            display: flex;
            justify-content: space-evenly;
            a {
                margin: 0 10px;
                display: flex;

                span {
                    font-size: 1rem;
                }
            }
        }
    }

    @include sm {
        #google-profile-data {
            display: none;
        }

        #menu-head {
            #google-oauth {
                display: none
            }
        }

        #menu-main {
            margin: 16px;

            a {
                // margin-bottom: 10px;
                text-align: center;
            }

            .beesaber-title {
                text-align: center;
                margin-bottom: 20px;
    
                .neon-red {
                    color: $main-red-light;;
                    text-shadow: $main-red -2px -1px 5px, $main-red 2px 1px 5px, $main-red 0px 0px 10px, $main-red 0px 0px 15px, $main-red 0px 0px 20px, $main-red 0px 0px 30px;
                }
    
                .neon-blue {
                    color: $main-blue-light;
                    text-shadow: $main-blue  -2px -1px 5px, $main-blue  2px 1px 5px, $main-blue  0px 0px 10px, $main-blue  0px 0px 15px, $main-blue  0px 0px 20px, $main-blue  0px 0px 30px;
                }
            }
        }
    }
}