// Utilities
@import "../utilities/variables";

#myhive {
    padding: 3%;

    #myhive-bees {
        margin: 2% 0 0 0 ;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #current-scores {
        display: flex;
        justify-content: center;
    }
}

@include mobile { 
    #myhive {
        #neon-button {
            margin-bottom: 30px;
        }

        .one-userinfo{
            width: 100%;
        }
    }
}

@include sm { 
    #myhive {
        .one-userinfo{
            width: 100%;
        }
    }
}

@include lg { 
    #myhive {
        #scorebox {
            width: 100%;
        }
        .one-userinfo{
            width: 47%;
        }

    }
}

@include xl { 
    #myhive {
        #userinfo {
            width: 100%;
        }

        .one-userinfo{
            width: 30%;
        }
    }
}