// Utilities
@import "../utilities/variables";

#myhive {
    padding: 3%;

    #myhive-bees {
        margin: 5% 0 0 0 ;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

@include mobile { 
    #myhive {
        #neon-button {
            margin-bottom: 30px;
        }
    }
}

@include sm { 
    #myhive {
        #userinfo.card-container {
            margin: 2%;
        }
    }
}