// Utilities
@import "../utilities/variables";

#my-profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    #myscoresaberidinput {
        display: flex;
        align-items: center;

        button {
            margin-bottom: 30px;
        }
    }

    @include lg {
        #scorebox {
            width: 100%;
        }
    }
}

