// Utilities
@import './styles/utilities/variables';

html {
  overflow: scroll;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
}

body {
  
  background-color: $bg-color;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logo-honeycomb path {
  fill: none;
  stroke: $main-yellow-light;
  stroke-width: 3.5;
  stroke-linejoin: round;
}

.neon-red {
  color: $main-red;
}

.neon-yellow {
  color: $main-yellow;
}

.neon-blue {
  color: $main-blue;
}

.neon-red,
.neon-blue {
  -webkit-transition: color 0.6s ease-out, text-shadow 0.6s ease-out;
  -moz-transition: color 0.6s ease-out, text-shadow 0.6s ease-out;
  -o-transition: color 0.6s ease-out, text-shadow 0.6s ease-out;
  transition: color 0.6s ease-out, text-shadow 0.6s ease-out;
}

a:hover .neon-red {
  color:  $main-red-light;
  text-shadow: $main-red -2px -1px 5px, $main-red 2px 1px 5px, $main-red 0px 0px 10px, $main-red 0px 0px 15px, $main-red 0px 0px 20px, $main-red 0px 0px 30px;
}

a:hover .neon-blue {
  color: $main-blue-light;
  text-shadow: $main-blue  -2px -1px 5px, $main-blue  2px 1px 5px, $main-blue  0px 0px 10px, $main-blue  0px 0px 15px, $main-blue  0px 0px 20px, $main-blue  0px 0px 30px;
}

.bee-yellow {
  color: #FFBB31  
}

.greyed-out {
  color: grey
}

.bsfont {
  font-family: 'NeonTubes2';
}

.badge {
  /* Overwrite MDB (1 -> 1.1) */
  line-height: 1.1; 
}

.logo {
  height: 115px;
  filter: 
  drop-shadow(0px 0px 2px  $main-yellow)
  drop-shadow(0px 0px 5px  $main-yellow)
  drop-shadow(0px 0px 7px  $main-yellow);
}

.card-container {
  transition: 0.3s;
  border-radius: 5px;
  padding: 10px 8px;
  margin: 12px;

  box-shadow: 
  0px 0px 1px 3px $main-yellow-light, 
  0px 0px 8px 2px $main-yellow, 
  0px 0px 12px 6px $main-yellow, 
  
  inset 0px 0px 6px 2px  $main-yellow, 
  inset 0px 0px 14px 0px  $main-yellow, 
  inset 0px 0px 2px 0px $main-yellow-light;

  h3 {
    color: $main-yellow-light;;
    text-shadow: 
     $main-yellow -2px -1px 5px, 
     $main-yellow 2px 1px 5px, 
     $main-yellow 0px 0px 10px, 
     $main-yellow 0px 0px 15px, 
     $main-yellow 0px 0px 20px, 
     $main-yellow 0px 0px 30px;
    text-align: center;
  }
}

@include mobile {
  body {
    width: 100vw;
  }

  html {
    width: 100%;
    height: 100%;
  }
    
} 