// Utilities
@import './styles/utilities/variables';

body {
  position: fixed;
  background-color: $bg-color;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.neon-red {
  color: $main-red;
}

.neon-blue {
  color: blue;
}

.neon-red,
.neon-blue {
  -webkit-transition: color 0.6s ease-out, text-shadow 0.6s ease-out;
  -moz-transition: color 0.6s ease-out, text-shadow 0.6s ease-out;
  -o-transition: color 0.6s ease-out, text-shadow 0.6s ease-out;
  transition: color 0.6s ease-out, text-shadow 0.6s ease-out;
}

a:hover .neon-red {
  color:  $main-red-light;
  text-shadow: $main-red -2px -1px 5px, $main-red 2px 1px 5px, $main-red 0px 0px 10px, $main-red 0px 0px 15px, $main-red 0px 0px 20px, $main-red 0px 0px 30px;
}

a:hover .neon-blue {
  color: $main-blue-light;
  text-shadow: $main-blue  -2px -1px 5px, $main-blue  2px 1px 5px, $main-blue  0px 0px 10px, $main-blue  0px 0px 15px, $main-blue  0px 0px 20px, $main-blue  0px 0px 30px;
}

.bee-yellow {
  color: #FFBB31  
}

.greyed-out {
  color: grey
}

.badge {
  /* Overwrite MDB (1 -> 1.1) */
  line-height: 1.1; 
}

.logo {
  height: 115px;
  filter: 
  drop-shadow(0px 0px 2px  $main-yellow)
  drop-shadow(0px 0px 5px  $main-yellow)
  drop-shadow(0px 0px 7px  $main-yellow);
}

#logo-honeycomb path {
  fill: none;
  stroke: $main-yellow-light;
  stroke-width: 3.5;
  stroke-linejoin: round;
}

@include mobile {
  body {
  }
    
} 

@include sm {
  body {
    
  }
} 