// Utilities
@import "../../styles/utilities/variables";

#newsbox {
  h3 {
    color: $main-white;
    font-family: "NeonTubes2";
    margin: 5px 0 10px 5px;
  }
}

@include mobile {
  #newsbox {
    width: 100%;
  }
}

@include sm {
  #newsbox {
    min-width: 40%;
  }
}
