// Utilities
@import "../../../styles/utilities/variables";

#scoretabs {

    i.fa-handshake {
        font-size: 1.5rem;
    }

    i:hover {
        color: $main-yellow;
    }

    .played-by-hive-lost {
        background: $bg-color;
        background: linear-gradient(90deg, $bg-color 10%, $main-red 44%, $main-red 55%, $bg-color 100%);
    }

    .played-by-hive-won {
        background: $bg-color;
        background: linear-gradient(90deg, $bg-color 10%, $main-blue 44%, $main-blue 55%, $bg-color 100%);

    }


    .also-played-by {
        td, th {
            color: $bg-color;
        }
    }

    .bold-text {
        font-weight: bolder;
    }
}

@include mobile {
    #scoretabs {
        th {
            text-align: center;
        }

        th.rank {
            width: 15%;
            padding: 0;
        }
    
        th.song {
            width: 60%
        }
    
        th.score {
            width: 25%;
        }
    
        th.time, td.time{
            display: none
        }

        .song-data {
            img {
                display:none
            }

            .greyed-out{
                display: none;
            }
        }
    }
}

@include sm {
    #scoretabs {
        th.rank {
            width: 15%;
            padding: 0;
        }
    
        th.song {
            width: 60%
        }
    
        th.score {
            width: 25%;
        }
    
        th.time, td.time{
            display: none
        }

        .song-data {
            img {
                display: none
            }

            .greyed-out{
                display: none;
            }
        }  
    }
}  

@include md {
    #scoretabs {

    th.rank {
        width: 8%;
        padding: 0;
    }

    th.song {
        width: 57%
    }

    th.score {
        width: 10%;
    }

    th.time, td.time{
        width: 22%;
        display: revert;  
    }

    .song-data {
        img {
            display: revert;
        }
    }
}

@include lg {
    #scoretabs {
        th.rank {
            width: 15%;
            padding: 0;
        }
    
        th.song {
            width: 60%
        }
    
        th.score {
            width: 25%;
        }

        th.time, td.time{
            display: none
        }

        .song-data {
            img {
                display: none
            }

            .greyed-out{
                display: none;
            }
        }  
    }
}

@include xl {
    #scoretabs {
        th.rank {
            width: 8%;
            padding: 0;
        }
    
        th.song {
            width: 57%
        }
    
        th.score {
            width: 10%;
        }
    
        th.time, td.time{
            width: 22%;
            display: revert;  
        }

        .song-data {
            img {
                display: revert;
            }

            .greyed-out{
                display: revert;
            }
        }
    }
    }
}