// F O N T S // 
@font-face{
    font-family:"NeonTubes2";
    src:url("../fonts/NeonTubes2.otf") format("woff"),
    url("../fonts/NeonTubes2.otf") format("opentype"),
    url("../fonts/NeonTubes2.otf") format("truetype");
}


// C O L O R S
$bg-color:          #00111f;    // Page Background Color
$main-red:          #ff0025;    // Beat Saber Red
$main-red-light:    #fff0f0;    // Beat Saber Red Light
$main-red-shadow:   #ff8d9e;    // Beat Saber Red Shadow        
$main-blue:         blue;       // Beat Saber Blue
$main-blue-light:   #edf5ff;    // Beat Saber Blue Light 
$main-blue-shadow:  #7979ff;    // Beat Saber Blue Shadow        
$main-yellow:       #ffeb00;    // Bee Saber Yellow
$main-yellow-light: #fffcdd;    // Bee Saber Yellow Light (for Shadow)
$main-white:        whitesmoke; // Bee Saber White
$main-grey:         grey;       // Bee Saber Grey
$main-grey-light:   #ced4da;    // Bee Saber Grey-light


// M E D I A    Q U E R I E S 

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


@mixin mobile {
    @media (max-width: #{$screen-sm-min - 1}) {
        @content;
    }
}
// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

 // Custom devices
@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}
