// Utilities
@import "../../styles/utilities/variables";

#scorebox {
  display: flex; 
  flex-direction: column;

  a { 
    color: $main-grey; 
  } 

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: $main-grey-dark;
    color: $main-white;
  }

  .nav-tabs {
    text-transform: uppercase;
  }

  h3 { 
    color: $main-white;
    font-family: 'NeonTubes2';
    margin: 5px 0 0 5px;
  }

  #scorebox-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    margin: 0;
    color: $main-blue-light;

    .md-form {
      margin: 0;
    }
  }
  
  #input-search {
    margin: 0 0 0 1em;
    padding: 3px 0 5px 0;
  }
  
  .table-box {
    table-layout:fixed;
  }
  
  .table-box td {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
  }
  
  table img {
    max-width: 40px;
    margin-right: 8px;
    border-radius: 3px;
  }
  
  .pagination {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .score-box {
    h3{ 
      color: $main-white;
      font-family: 'NeonTubes2';
      margin: 5px 0 20px 5px;
      color: $main-white;
    }

    table {
      color: $main-white;
    }

    td {
      vertical-align: middle;
    }

    th {
      padding: 0.5rem;
    }

    .table {
        td {
          border-top: none;
          border-bottom: 1px solid $main-grey;
          img {
            margin-left: 1rem;
          }
        }
        tr:last-child {
          td {
            border: none
          }
        }
    }

    .table.table td {
      padding: 0.5rem
    }

    .card-link {
      font-size: 0.7rem
    }

    td.song {
      .badge {
        margin-left: 2px;
        text-overflow: ellipsis;
      }
    }

    .song-data {
      display: flex;
      align-items: center;
    }

    .card-link {
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

@include mobile {
  #scorebox {
    width: 90%
  }
}

@include lg {
  #scorebox {
    width: 45%;
  }
}