// Utilities
@import "./utilities/variables";

#addbeesmodal {
    #userinfo {
        background-color: $bg-color;
        width: 96%; // prevent overlapping on large screens with mdb modal
    }

    .mt-5 {
        margin-top: 0!important; // overwrite MDB-React margin
    }
}

@include mobile { 
    #addbeesmodal {
        #userinfo {
            width: 100%;
        }
    }
}