// Utilities
@import "./utilities/variables";

#beetag {

    padding: 0;

    i {
        margin-right: 5px;
    }

    .tag {
        margin: 2px;
        font-size: 0.8rem;
        max-height: 30px;
        max-width: fit-content;
    }

    .userInfoPopup {
        color: $bg-color;
        padding: 10px 10px 0 0;
        display: flex;
        flex-direction: column;

        #beetag-header {
            display: flex;
        }

        #beetag-tags {
            padding-bottom: 10px;
            display: flex;
            flex-wrap: wrap;
            
            .badge {
                margin: 3px;
            }

            #last-played {
                width: 100%;
                .badge {
                    padding-top: 10px;
                    min-width: 100%;
                }
            }
        }

        img {
            width: 30px;
            height: 30px;
            border-radius: 20px;
            margin: 0 10px 5px 0;
        }
      }
}