// Utilities
@import "./utilities/variables";

#brandlogo {
    position: relative;
    height: 150px;
    width: 150px;
    font-size: 80px;
    
    .neon-yellow {
        color: $main-yellow-light;;
        text-shadow:  $main-yellow -2px -1px 5px,  $main-yellow 2px 1px 5px,  $main-yellow 0px 0px 10px,  $main-yellow 0px 0px 15px,  $main-yellow 0px 0px 20px,  $main-yellow 0px 0px 30px;
    }
    
    div {
        position: absolute;
        transform-origin: center;
    }
    div:first-child {
        transform: rotate(90deg) translate(-36px, -68px);
        z-index: 5;
    }
    div:nth-child(2) {
        transform: rotate(150deg) translate(-103px, -49px);
        z-index: 4;
    }
    div:nth-child(3) {
        transform: rotate(30deg) translate(120px, -19px);
    }
    div:nth-child(4) {
        transform: rotate(90deg) translate(70px, -68px);
    }
    div:nth-child(5) {
        transform: rotate(150deg) translate(2px, -49px);
    }
    div:nth-child(6) {
        transform: rotate(30deg) translate(15px, -20px);
        z-index: 6;
    }

    .saber {
        position: absolute;
        height: 100%;
        width: 3px;
        top: 0%;
        border-radius: 3px;
    }

    .saber.neon-red {
        left: 49%;
        transform: rotate(30deg);
        background-color: $main-red-light;
        box-shadow: 
        0px 0px 8px 2px #ff8d9e, 
        0px 0px 12px 6px $main-red;
    }
    
    .saber.neon-blue {
        right: 49%;
        transform: rotate(-30deg);
        background-color: $main-blue-light;
        box-shadow: 
        0px 0px 8px 2px #7979ff, 
        0px 0px 12px 6px $main-blue;
    }
}