// Utilities
@import "./utilities/variables";

#google-oauth {

    margin: 5px;

    .btn-default {
        width: 50%;
    }

    .form-group {
        display: flex;
        flex-direction: row-reverse; 
        margin: 0;
    }

    .fa-user:before, .fa-lock:before  {
        margin-right: 30px;
    }
}

@include mobile {
    #google-oauth {

        form {
            display: flex;
            flex-direction: column;
        }

        span {
            display: none;
        }

        .form-group {
            margin: 0;
        }

        .h5 {
            padding: 0 30px;
        }
    }
}

@include sm {
    #google-oauth {
        max-width: 25%;
    }
}