// Utilities
@import "./utilities/variables";

#hivebox {
    #bees {
      display: flex;
    }
    
    h3 { 
      color: whitesmoke;
      font-family: 'NeonTubes2';
      margin: 5px 0 20px 5px;
    }    
}

@include mobile {

  #hivebox {
    width: 100%
  }
  #bees {
    flex-wrap: wrap;
  }
}

@include sm {
  #hivebox {
    min-width: 30%
  }
}