// Utilities
@import "./utilities/variables";

#hivebox {
    min-height: 45%;
    display: flex;
    flex-direction: column;

    #bees {
      display: flex;
    }
    
    h3 { 
      color: whitesmoke;
      font-family: 'NeonTubes2';
      margin: 5px 0 20px 5px;
    }

    @include mobile {

      #hivebox {
        width: 100%
      }
      #bees {
        flex-wrap: wrap;
      }
    }

    @include sm {
      #hivebox {
        width: 100%
      }
      #bees {
        flex-wrap: wrap;
      } 
    }
}