#newsbox {
    width: 100%;
    min-height: 100%;
    // margin: 10px;
    // background-color: #4b3e3e;
    h3{ 
        color: whitesmoke;
        font-family: 'NeonTubes2';
        margin: 5px 0 0 5px;
    }

}