#one-news{
    margin: 10px;

    .card-body {
        padding: 10px;
    }

    .card-title {
        display: flex;

        span {
            margin-right: 15px
        }
    }

    .card-text {
        margin: 0;
    }

    .one-news-text {
        b {
            color: #FFBB31  
        }
    }

    time {
        font-size: 0.5rem;
        margin: 2px;
        align-self: flex-end;
    }
}