// Utilities
@import "./utilities/variables";

#pagination {
  ul.pagination {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  ul.pagination li.page-item.active a.page-link {
  color: $main-grey-dark ;
    background-color: $main-white!important ;
    border-color: $main-grey-light ;
  }
  ul.pagination a.page-link {
    background-color: $main-grey-dark!important;
    text-align: center;
    box-shadow: none ;
    border-color: $main-grey-light;
    color: $main-white-light;
    font-weight: 900;
    font-size: 1rem;
  }
}

@include md {
  #pagination {
    ul.pagination a.page-link {
      padding: 0.75rem 1rem;
      min-width: 2.5rem;
    }
  }
}

@include xl {
  #pagination {
    ul.pagination a.page-link {
      padding: 0.75rem 1rem;
      min-width: 3.5rem;
    }
  }
}