// Utilities
@import "./utilities/variables";

#pagination {
  ul.pagination {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  ul.pagination li.page-item.active a.page-link {
  color: #445565 ;
    background-color: #e3e7eb!important ;
    border-color: #ced4da ;
  }
  ul.pagination a.page-link {
    background-color: #445565!important;
    // padding: 0.75rem 1rem;
    // min-width: 3.5rem;
    text-align: center;
    box-shadow: none ;
    border-color: #ced4da ;
    color: #6b88a4;
    font-weight: 900;
    font-size: 1rem;
  }
}

@include md {
  #pagination {
    ul.pagination a.page-link {
      padding: 0.75rem 1rem;
      min-width: 2.5rem;
    }
  }
}

@include xl {
  #pagination {
    ul.pagination a.page-link {
      padding: 0.75rem 1rem;
      min-width: 3.5rem;
    }
  }
}