// Utilities
@import "./utilities/variables";

#scoretabs {
    // #bees {
    //     display: flex;
    //     flex-direction: row;
    //     flex-wrap: wrap;

    //     .container {
    //         width:fit-content;
    //     }
    // }

    i.fa-handshake {
        font-size: 1.5rem;
    }

    i:hover {
        color: $main-yellow;
    }

    .played-by-hive {
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8463760504201681) 30%, rgba(194,217,0,0.835171568627451) 50%, rgba(0,0,0,0.8687850140056023) 70%);
    }

    .also-played-by {
        td, th {
            color: black;
        }
    }
}

@include mobile {
    #scoretabs {
        th {
            text-align: center;
        }

        th.rank {
            width: 15%;
            padding: 0;
        }
    
        th.song {
            width: 60%
        }
    
        th.score {
            width: 25%;
        }
    
        th.time, td.time{
            display: none
        }

        .song-data {
            img {
                display:none
            }

            .greyed-out{
                display: none;
            }
        }
    }
}

@include sm {
    #scoretabs {
        th.rank {
            width: 15%;
            padding: 0;
        }
    
        th.song {
            width: 60%
        }
    
        th.score {
            width: 25%;
        }
    
        th.time, td.time{
            display: none
        }

        .song-data {
            img {
                display: none
            }

            .greyed-out{
                display: none;
            }
        }  
    }
}  

@include md {
    #scoretabs {

    th.rank {
        width: 8%;
        padding: 0;
    }

    th.song {
        width: 57%
    }

    th.score {
        width: 10%;
    }

    th.time, td.time{
        width: 22%;
        display: revert;  
    }

    .song-data {
        img {
            display: revert;
        }
    }
}

@include lg {
    #scoretabs {
        th.rank {
            width: 15%;
            padding: 0;
        }
    
        th.song {
            width: 60%
        }
    
        th.score {
            width: 25%;
        }

        th.time, td.time{
            display: none
        }

        .song-data {
            img {
                display: none
            }

            .greyed-out{
                display: none;
            }
        }  
    }
}

@include xl {
    #scoretabs {
        th.rank {
            width: 8%;
            padding: 0;
        }
    
        th.song {
            width: 57%
        }
    
        th.score {
            width: 10%;
        }
    
        th.time, td.time{
            width: 22%;
            display: revert;  
        }

        .song-data {
            img {
                display: revert;
            }

            .greyed-out{
                display: revert;
            }
        }
    }
    }
}