#spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    #minilogo {
        width: 20px;
    }

    .spinner-border{
        height: 17px;
        width: 17px;
        margin-right: 7px;
    }
    
    span {
        font-size: 1rem!important;
    }
}