// Utilities
@import "./utilities/variables";

#spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    #minilogo {
        width: 20px;
    }

    .spinner-border{
        height: 17px;
        width: 17px;
        margin-right: 7px;
    }
}

@include sm { 
    #spinner {
        span {
            font-size: 0.8rem!important;
        }
    }
}

@include lg { 
    #spinner {
        span {
            font-size: 1rem!important;
        }
    }
}