// Utilities
@import "./utilities/variables";

#userinfo {

    display: flex;
    align-items: center;

    #plusicon {
        color: whitesmoke;
        font-size: 3rem;
        right: 0;
        margin: 0 6px;
        display: flex;
    }

    .plusicon-grey {
        opacity: 0;
    }

    #userinfo-head {
        display: flex;
        justify-content: space-between;
        margin: 2%;
        padding: 0 0 2% 0;
    }

    #userinfo-body {
        color: whitesmoke;
        font-size: 0.8rem;

        .table {
            color: whitesmoke;
        }
    }

    td {
        padding: 0;

        .badge {
            margin-bottom: 2px;
        }
    }

    img {
        margin: 0 1%;
    }

    .table {
        margin-bottom: 0.5rem;
    }

    .badge {
        margin-right: 10px;
        max-width: fit-content;

        i {
            margin-right: 4px;
        }

        i.flag {
            padding: 0;
        }
    }

    .player {
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .player-head {
        align-items: center;
    }
}

@include mobile { 
    #userinfo {
        padding: 1% 3%;
        margin: 5% 0;
        width: 100%;

        #userinfo-head {
            margin: 1%;
            padding: 0 0 1% 0;
        }
    
        #userinfo-body {
            font-size: 0.8rem;
            white-space: nowrap;
            padding: 0;
        }

        img {
            max-width: 50px;
            max-height: 30px;
            border-radius: 20px;
        }

        .player {
            padding: 1%;
        }

        i.flag {
            padding: 2px;
        }
    }
}

@include sm { 
    #userinfo {
        padding: 0.1% 1%;
        margin: 5% 0;

        #userinfo-head {
            margin: 1%;
            padding: 0;
        }
    
        #userinfo-body {
            font-size: 0.9rem;
        }
        
        img {
            max-width: 60px;
            max-height: 40px;
            border-radius: 25px;
            margin: 1px
        }

        i.flag {
            padding: 3px;
        }
    }
}

@include lg { 
    #userinfo {
        min-width: fit-content;
        max-width: 42%;
    }
}